*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 100%;
}

body{
    background-color: #3AAFA9;
}

.header, .footer{
    background-color:#DEF2F1;
    text-align: center;
}

.navbar{
    padding: 15px;
}

.navbar a{
    text-decoration: none;
    color:#3AAFA9;
    padding: 50px;
}


h1{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.342);
  color: #3AAFA9;
  text-align: center;
  padding: 30px;
  margin-top:150px;
  margin-bottom: 150px;
}

h3{
    color: white;
    margin: 20px;
    font-size: 25px;
}

p{
    color: white;
    margin: 20px;
}

.main a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.column{
    float: left;
    width: 33.33%;
    padding: 15px;
}

.row:after{
    content: "";
    display:table;
    clear: both;
}

.banner {
  background-color: #DEF2F1;
  padding: 20px;

}

.banner h2{
    font-size: 30px;
}

.banner p{
    color: black;
    padding-bottom: 50px;
}

.second h3{
    text-align: center;
}


.second img{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

@media only screen and (max-width: 800px){
    .column{
        width: 100%;
    }
}